@use "../../abstracts" as *;

footer.footer {
  grid-area: footer;
  height: $height-footer;
  background-color: var(--color-primary);
  box-sizing: border-box;
  border: 0px solid var(--color-secondary);
  border-top-width: 2px;
  padding: $space-s 0;
  position: relative;
  .row--theme {
    width: 500px;
    position: absolute;
    height: $height-footer - 2px;
    right: 0px;
    top: 0px;
    box-sizing: border-box;
    overflow: hidden;
    .button {
      width: 200px;
      @media only screen and (max-width: $breakpoint-mobile) {
        & {
          width: 150px;
        }
      }
    }
    @media only screen and (max-width: $breakpoint-tablet) {
      & {
        width: 100%;
      }
    }
  }
}
