@use "../../abstracts" as *;

footer.footer {
  grid-area: footer;
  min-height: $height-footer;
  background-color: var(--color-background-secondary);
  padding: 10px 0;
  .button {
    max-width: 200px;
  }
}
