@use "../../abstracts/" as *;

header.header {
  grid-area: header;
  position: fixed;
  z-index: $z-header;
  height: $height-header;
  width: 100%;
  top: 0px;
  left: 0px;
  background-color: var(--color-background-primary);
  border: 2px solid var(--color-primary);
  border-top-width: 0px;
  border-radius: 0 0 $border-radius $border-radius;
  @include drop-shadow(rgba($color-dark, 0.5));
  @include animate-slide_top-vertical(-$height-header, $speed-050);
  .header_row {
    box-sizing: border-box;
    padding: 0 $space-m;
  }
}
