@use "../../abstracts" as *;
@mixin card_header($theme, $backgroundColor, $textColor) {
  &.card--#{$theme} {
    border-color: $textColor;

    .modal_card_header {
      background-color: $backgroundColor;
      border-bottom: 2px solid $textColor;
      h3 {
        color: $textColor;
      }
      .button {
        border-left: 2px solid $textColor;
      }
    }
  }
}

$card-sizes: "small" 400px 5% 400px, "medium" 1000px 10% 80%, "large" 95% 5% 90%;

@mixin set-card-sizes($name, $maxWidth, $top, $height) {
  &.card--#{$name} {
    max-width: $maxWidth;
    top: $top;
    height: $height;
  }
}

.modal_card {
  position: absolute;
  z-index: 400;
  margin: 0 auto;
  left: 50%;
  right: 50%;
  background-color: var(--color-background-primary);
  transform: translateX(-50%);
  border: 2px solid transparent;
  width: 100%;

  @include drop-shadow(rgba($color-dark, 0.8));
  @include animate-slide_in-vertical(100vh, 0.25s, -50%);

  &_header {
    text-align: center;
    box-sizing: border-box;
    padding: $size-s 0;
    position: relative;
    height: $height-modal-header;
    .button {
      position: absolute;
      top: 0px;
      right: 0px;
      border-width: 0px;
      border-radius: 0px;
      height: 100%;
      width: $height-modal-header;
      box-sizing: border-box;
    }
  }

  &_content {
    box-sizing: border-box;
    border-top: solid 2px transparent;
    padding: 0 $size-s;
    height: calc(100% - 120px);
  }
  @each $name, $maxWidth, $top, $height in $card-sizes {
    @include set-card-sizes($name, $maxWidth, $top, $height);
  }
  @each $name, $color, $textColor in $color-theme-text {
    @include card_header($name, $color, $textColor);
  }

  &_nav {
    height: 70px;
    box-sizing: border-box;
    padding: 0 $size-s;
  }
}
