@use "../../abstracts" as *;

.modal_card {
  position: absolute;
  z-index: 400;
  top: 10%;
  margin: 0 auto;
  width: 500px;
  left: 50%;
  right: 50%;
  background-color: var(--color-background-primary);
  transform: translateX(-50%);
  @include drop-shadow(rgba($color-dark, 0.8));

  @include animate-slide_in-vertical(100vh, 0.25s, -50%);

  &_header {
    background-color: var(--color-background-secondary);
    text-align: center;
    box-sizing: border-box;
    padding: 10px 0;
  }
  &.card--light {
    @include drop-shadow(rgba($color-dark, 0.8));
  }

  &.card--dark {
    border: 2px solid $color-dark;
    .modal_card_header {
      background-color: $color-dark;
      h3 {
        color: $color-light;
      }
    }
  }

  &.card--success {
    .modal_card_header {
      background-color: $color-success;
      h3 {
        color: $color-light;
      }
    }
  }
  &.card--caution {
    border: 2px solid $color-dark;
    .modal_card_header {
      background-color: $color-caution;
    }
  }
  &.card--danger {
    border: 2px solid $color-dark;
    .modal_card_header {
      background-color: $color-danger;
    }
  }
  &.card--primary {
    border: 2px solid var(--color-accent-primary);
    .modal_card_header {
      background-color: var(--color-accent-primary);
    }
  }
  &.card--secondary {
    border: 2px solid var(--color-accent-secondary);
    .modal_card_header {
      background-color: var(--color-accent-secondary);
    }
  }
}
