@use "../../abstracts" as *;
@mixin card_header($theme, $backgroundColor, $textColor) {
  &.card--#{$theme} {
    border-color: $textColor;

    .modal_card_header {
      background-color: $backgroundColor;
      border-bottom: 2px solid $textColor;
      h3 {
        color: $textColor;
      }
      .button {
        border-left: 2px solid $textColor;
      }
    }
  }
}

$card-sizes: "small" 400px 5% 400px, "medium" 1000px 10% 80%, "large" 95% 5% 90%;

@mixin set-card-sizes($name, $maxWidth, $top, $height) {
  &.card--#{$name} {
    max-width: $maxWidth;
    top: $top;
    height: $height;
  }
}

div.modal_card {
  position: absolute;
  z-index: 400;
  margin: 0 auto;
  left: 50%;
  right: 50%;
  background-color: var(--color-background-primary);
  transform: translateX(-50%);
  border: 2px solid transparent;
  width: calc(100% - $space-xl);
  padding: 0 0 0 0;
  @include drop-shadow(rgba($color-dark, 0.8));
  @include animate-slide_in-vertical(100vh, 0.25s, -50%);

  &_header {
    text-align: center;
    box-sizing: border-box;
    padding: $space-s 0;
    position: relative;
    height: $height-modal-header;
    h3 {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .button {
      position: absolute;
      top: 0px;
      right: 0px;
      border-width: 0px;
      border-radius: 0px;
      height: 100%;
      width: $height-modal-header;
      box-sizing: border-box;
    }
  }

  &_content {
    box-sizing: border-box;
    border-top: solid 2px transparent;
    padding: $space-s $space-s 0 $space-s;
    height: calc(100% - ($height-modal-header + 70px));
    overflow-y: auto;
  }
  @each $name, $maxWidth, $top, $height in $card-sizes {
    @include set-card-sizes($name, $maxWidth, $top, $height);
  }
  @each $name, $color, $textColor in $color-theme-text {
    @include card_header($name, $color, $textColor);
  }

  &_nav {
    height: 70px;
    box-sizing: border-box;
    padding: 0 $space-s;
    border-top: 2px solid var(--color-text-primary);
    .button {
      width: 100%;
      max-width: 200px;
      transform: scale(100%);
      transition: transform $speed-025, background-color $speed-050;
      &:hover {
        transform: scale(102%);
      }
      @include animate-fade-in($speed-025);
    }
  }
}
