$color-light: #fafafa;
$color-light-alt: #cecece;

$color-dark: #333333;
$color-dark-alt: #4c4c4c;

$color-disabled: #adacac;

$color-primary: #1b7ae4;
$color-secondary: #e4851b;

$color-success: #0a830a;
$color-caution: #eed202;
$color-danger: #e60808;

$color-theme: (
  "dark": $color-dark,
  "light": $color-light,
  "success": $color-success,
  "caution": $color-caution,
  "danger": $color-danger,
  "primary": $color-primary,
  "secondary": $color-secondary,
);

$color-theme-text: (
  "dark" $color-dark $color-light,
  "light" $color-light $color-dark,
  "success" $color-success $color-light,
  "caution" $color-caution $color-dark,
  "danger" $color-danger $color-light,
  "primary" $color-primary $color-dark,
  "secondary" $color-secondary $color-dark
);
