$color-light: #fafafa;
$color-light-alt: #f0fafd;

$color-dark: #333333;
$color-dark-alt: #4c4c4c;

$color-disabled: #dddddd;

$color-accent-1: #a2c3d3;
$color-accent-2: #1e97cc;

$color-accent-3: #802e2e;
$color-accent-4: #8f2424;
