$color-light: #fafafa;
$color-light-alt: #cecece;

$color-dark: #333333;
$color-dark-alt: #4c4c4c;

$color-disabled: #dddddd;

$color-accent-1: #3a7fe8;
$color-accent-2: #1e97cc;

$color-accent-3: #d5660c;
$color-accent-4: #b15204;

$color-success: #4a934a;
$color-caution: #eed202;
$color-danger: #ff0d0d;
