$height-header: 80px;
$height-footer: 100px;
$height-modal-header: 50px;
$height-modal-nav: 70px;
$height-modal-offset: $height-modal-header + $height-modal-nav;

$height-button: 50px;

$space-xs: 5px;
$space-s: 10px;
$space-m: 15px;
$space-l: 20px;
$space-xl: 40px;
