@use "../../abstracts/" as *;

div.page {
  position: relative;
  background-color: transparent;
  box-sizing: border-box;
  padding: $space-l $space-l 0 $space-l;
  height: calc(100% - $space-l);
  &_card {
    height: 100%;
    &_title {
      h2 {
        margin-bottom: $space-l;
        color: var(--color-primary);
      }
      h3 {
        color: var(--color-secondary);
        margin-bottom: $space-l;
      }
    }
  }
  section {
    margin-bottom: $space-l;
  }
}
