@use "../../abstracts" as *;

div.logo {
  position: relative;
  height: $height-header - 20px;

  .backdrop {
    position: absolute;
    border-radius: 100%;
    background-color: transparent;
    top: 0;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    width: $height-header - 20px;
  }
  img {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
    height: 100%;
  }
}
