@use "../../abstracts/" as *;

.backdrop {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: transparent;
  @include animate-fade_in($speed-025);

  &#{&}--dark {
    background-color: rgba($color-dark, $opacity-modal);
  }
  &#{&}--light {
    background-color: rgba($color-light, $opacity-modal);
  }
  &#{&}--success {
    background-color: rgba($color-success, $opacity-modal);
  }
  &#{&}--caution {
    background-color: rgba($color-caution, $opacity-modal);
  }
  &#{&}--danger {
    background-color: rgba($color-danger, $opacity-modal);
  }

  &#{&}--primary {
    background-color: rgba($color-accent-1, $opacity-modal);
  }

  &#{&}--secondary {
    background-color: rgba($color-accent-2, $opacity-modal);
  }
}

[theme-mode="dark"] .backdrop {
  &#{&}--primary {
    background-color: rgba($color-accent-3, $opacity-modal);
  }

  &#{&}--secondary {
    background-color: rgba($color-accent-4, $opacity-modal);
  }
}
