@use "../../abstracts/" as *;

button.button {
  -webkit-appearance: none;
  appearance: none;
  display: block;
  height: 50px;
  border-radius: $border-radius;
  cursor: pointer;
  border: 2px solid var(--color-text-primary);

  @each $name, $color, $textColor in $color-theme-text {
    @include background-colors-theme($name, $color, $textColor, 1, true);
  }
}
