@use "../../abstracts" as *;

div.card {
  border-radius: $border-radius;
  background-color: var(--color-background-primary);
  box-sizing: border-box;
  overflow: hidden;
  padding: $space-l;
  position: relative;
  z-index: $z-card;
  max-width: 100%;
  &--border {
    border: 2px solid var(--color-text-primary);
  }
  &--left {
    @include animate-slide_in-left(100vw, $speed-050);
  }
  &--right {
    @include animate-slide_in-right(100vw, $speed-050);
  }
  &--bottom {
    @include animate-slide_bottom-vertical(50vh, $speed-050);
  }
}
