@use "../../abstracts" as *;

div.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-radius: $border-radius;
  background-color: var(--color-background-primary);
  box-sizing: border-box;
  overflow: hidden;
  padding: $space-l;
  position: relative;
  z-index: $z-card;
  max-width: 100%;
  min-height: fit-content;
  &--border {
    border: 2px solid var(--color-text-primary);
  }

  &--in-view.card--animation {
    &--left {
      @include animate-slide_in-left(100vw, $speed-050);
    }
    &--right {
      @include animate-slide_in-right(100vw, $speed-050);
    }
    &--bottom {
      @include animate-slide_bottom-vertical(50vh, $speed-050);
    }

    &--top {
      @include animate-slide_top-vertical(50vh, $speed-050);
    }

    &--fade-in {
      @include animate-fade-in($speed-075);
    }
    &--flip-in-right {
      @include animate-flip-in-right($speed-050);
    }
    &--flip-in-left {
      @include animate-flip-in-left($speed-050);
    }
  }

  h4 {
    margin-bottom: $space-m;
  }

  &--gradient {
    &--primary {
      @include linear-gradient(
        var(--color-background-primary),
        var(--color-primary)
      );
    }
    &--background {
      @include linear-gradient(
        var(--color-background-primary),
        var(--color-background-secondary)
      );
    }
  }
}
