@use "../../abstracts" as *;

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.05;
  margin: 0 0 0 0;
  &.center {
    text-align: center;
  }
}

h2 {
  font-size: 45px;
  @media only screen and (max-width: $breakpoint-mobile) {
    & {
      font-size: 36px;
    }
  }
}

h3 {
  font-size: 30px;
  @media only screen and (max-width: $breakpoint-mobile) {
    & {
      font-size: 22px;
    }
  }
}

h4 {
  font-size: 25px;
  @media only screen and (max-width: $breakpoint-mobile) {
    & {
      font-size: 18px;
    }
  }
}
