@use "../abstracts" as *;

div.page--modal-demo {
  &_row {
    margin: 0 auto;
    .button {
      width: 200px;
    }
  }
  div.page_card .card {
    h4 {
      margin-bottom: $space-xl;
    }
  }
}
