@mixin animate($animation, $duration, $timing, $count: 1, $delay: 0) {
  animation: $animation;
  animation-duration: $duration;
  animation-timing-function: $timing;
  animation-delay: $delay;
  animation-iteration-count: $count;
}

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}
