div.row {
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

div.column {
  box-sizing: border-box;
  background-color: transparent;
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;
  &--justify {
    &_start {
      justify-content: flex-start;
    }
    &_center {
      justify-content: center;
    }
    &_end {
      justify-content: flex-end;
    }
  }
  &--align {
    &_start {
      align-items: flex-start;
    }
    &_center {
      align-items: center;
    }
    &_end {
      align-items: flex-end;
    }
  }
}

@for $i from 1 through 100 {
  div.column--#{$i} {
    flex: $i;
  }
}
