@use "../abstracts/" as *;

main.main {
  position: relative;
  box-sizing: border-box;
  grid-area: main;
  width: 100%;
  padding-top: $height-header;
  min-height: inherit;
  box-sizing: border-box;
}
