@use "../abstracts/" as *;

[theme-mode="light"],
:root {
  --color-text-primary: #{$color-dark};
  --color-background-primary: #{$color-light};
  --color-background-secondary: #{$color-light-alt};
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
}

[theme-mode="dark"] {
  --color-text-primary: #{$color-light};
  --color-background-primary: #{$color-dark};
  --color-background-secondary: #{$color-dark-alt};
  --color-primary: #{$color-secondary};
  --color-secondary: #{$color-primary};
}

body,
* {
  position: relative;
  box-sizing: border-box;
  color: var(--color-text-primary);
  transition: background-color $speed-025 ease, color $speed-075 ease,
    border-color $speed-025;
  font-family: $font-family;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

#root.app {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  min-width: 100%;
  background-color: var(--color-background-primary);
  overflow-x: hidden;
}
