@use "../abstracts/" as *;

[theme-mode="light"],
:root {
  --color-text-primary: #{$color-dark};
  --color-background-primary: #{$color-light};
  --color-background-secondary: #{$color-light-alt};
  --color-accent-primary: #{$color-accent-1};
  --color-accent-secondary: #{$color-accent-2};
}

[theme-mode="dark"] {
  --color-text-primary: #{$color-light};
  --color-background-primary: #{$color-dark};
  --color-background-secondary: #{$color-dark-alt};
  --color-accent-primary: #{$color-accent-3};
  --color-accent-secondary: #{$color-accent-4};
}

body,
* {
  position: relative;
  box-sizing: border-box;
  background-color: var(--color-background-primary);
  color: var(--color-text-primary);
  transition: background-color $speed-025 ease, color $speed-075 ease,
    border-color $speed-025;
}

#root.app {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  min-height: 100vh;
  min-width: 100%;
}
